body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f2fc;
    color: #333;
}

header {
    background: #ca975d;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #c84ec7;
    color: white;
    margin-top: 40px;
}

button {
    background: #c84ec7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #a037a0;
}
